<section class='user-summary'>
<section class='user-summary-left'>
  <% game = enrollment.game %>
  <h1><%= game.name %></h1>
  <h2><%= game.tagline %></h2>
  <h2><%= game.location %>, <%= game.state %></h2>
  <h2><%= game.start_date %> to <%= game.end_date %></h2>
  <img class='game-image-small' src=<%= game.image_path %>>
</section>
<section class='user-summary-right'>
  <% target = enrollment.target.enrollments.find_by(game_id: game.id) if enrollment.target %>
  <% if enrollment.target && target.killed_by_id.nil? %>
    <h1>Next Target</h1>
    <h2><%= enrollment.target.first_name %> <%= enrollment.target.last_name %></h2>
    <img class='target-image-large' src=<%= enrollment.target.image_path %>>
    <div class="kill-target">
      <form method="post" action="/enrollments/<%= enrollment.id %>">
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="I killed them!">
      </form>
    </div>
  <% else %>
    <%= game.status %>
  <% end %>
</section>
</section>
