<section class='user-profile-summary'>
  <img class = 'profile-pic-large' src='<%= current_user.image_path %>'>

  <section class='user-profile-text'>
    <p class='user-show-page-name'><%= current_user.first_name %> <%= current_user.last_name %></p>
    <p class='user-show-page-aka'>AKA</p>
    <p class='user-show-page-nickname'><%= current_user.nickname %></p>
    <p class='user-show-page-bio'><%= current_user.bio %></p>
  </section>
</section>

<section class='user-show-page-stats'>
  <table>
    <th>
      <td>Games Created</td>
      <td>Games Played</td>
      <td>Kills</td>
      <td>Wins</td>
    </th>
    <tr>
      <td></td>
      <td><%= current_user.games_created_count %></td>
      <td><%= current_user.game_count %></td>
      <td><%= current_user.kill_count %></td>
      <td><%= current_user.win_count %></td>
    </tr>
  </table>
</section>


<% current_user.enrollments.each do |enrollment| %>
<section class='user-show-page-enrollments'>
  <section class='user-show-page-games'>
    <% game = enrollment.game %>
    <h1><%= game.name %></h1>
    <h2><%= game.tagline %></h2>
    <h2><%= game.city %>, <%= game.state %></h2>
    <h2><%= game.start_date %> to <%= game.end_date %></h2>
    <img class='game-image-small' src=<%= game.image_path %>>
  </section>
  <section class='user-show-page-target'>
    <% if enrollment.target %>
      <h1>Next Target</h1>
      <h2><%= enrollment.target.first_name %> <%= enrollment.target.last_name %></h2>
      <img class='target-image-large' src=<%= enrollment.target.image_path %>>
  <!--     <h2><%= game.tagline %></h2>
      <h2><%= game.city %>, <%= game.state %></h2>
      <%= current_user %> -->
    <% else %>
      <%= game.status %>
    <% end %>
  </section>
</section>
<% end %>
