<!-- Print out games ordered by current status. Scheduled games first. Scheduled games should give you the option to join. Active and completed games should give you the option to view the game and results or current status but not join. -->

<form class="game-button" action='/games/new' method='get'>
  <input type='submit' value='CREATE A NEW GAME' name='see_all_games_button'>
</form>

<section id='all-games'>
  <section class='pending-games'>
  <h4>PENDING GAMES</h4>

  <% @pending_games.each do |game| %>
  <a href='/games/<%= game.id %>' class='game_summary'>
      <%= erb :'games/_summary', locals: {game: game, button: false}, layout: false %>
  </a>
  <% end %>
  </section>

  <section class='scheduled-games'>
  <h4>SCHEDULED GAMES</h4>

  <% @scheduled_games.each do |game| %>
  <a href='/games/<%= game.id %>' class='game_summary'>
      <%= erb :'games/_summary', locals: {game: game, button: false}, layout: false %>
  </a>
  <% end %>
  </section>

  <section class='active-games'>
  <h4>ACTIVE GAMES</h4>

  <% @active_games.each do |game| %>
  <a href='/games/<%= game.id %>' class='game_summary'>
      <%= erb :'games/_summary', locals: {game: game, button: false}, layout: false %>
  </a>
  <% end %>
  </section>

  <section class='completed-games'>
  <h4>COMPLETED GAMES</h4>

  <% @completed_games.each do |game| %>
  <a href='/games/<%= game.id %>' class='game_summary'>
    <%= erb :'games/_summary', locals: {game: game, button: false}, layout: false %>
  </a>
  <% end %>
  </section>
</section>
