<!-- Print out games ordered by current status. Scheduled games first. Scheduled games should give you the option to join. Active and completed games should give you the option to view the game and results or current status but not join. -->

<h3>Join a Game Near You</h3>

<section class='scheduled-games'>
<h4>Scheduled Games</h4>

<% @scheduled_games.each do |game| %>
<div class="game_summary">
  <div class="game-location-map">MAP HERE</div>
  <div class='game-details-link'>
    <a href='/games/<%= game.id %>'>
        <%= erb :'games/_summary', locals: {game: game, button: true}, layout: false %>
    </a>
  </div>
</div>
<% end %>

</section>

<section class='active-games'>
<h4>Active Games</h4>

<% @active_games.each do |game| %>
<a href='/games/<%= game.id %>' class='game_summary'>
    <%= erb :'games/_summary', locals: {game: game, button: false}, layout: false %>
</a>
<% end %>
</section>

<section class='active-games'>
<h4>Completed Games</h4>

<% @completed_games.each do |game| %>
<a href='/games/<%= game.id %>' class='game_summary'>
  <%= erb :'games/_summary', locals: {game: game, button: false}, layout: false %>
</a>
<% end %>
</section>
