<section id='game-show-page'>
  <% if @game.creator_id == current_user.id %>
    <a href='/games/<%= @game.id %>/start'>Start Game</a>
  <% end %>
  <h1><%= @game.name %></h1>
  <h2><%= @game.tagline %></h2>
  <h2><%= @game.city %>, <%= @game.state %></h2>
  <h2><%= @game.start_date %> to <%= @game.end_date %></h2>
  <h2>Status: <%= @game.status %></h2>

  <img class='game-image-large' src=<%= @game.image_path %>>

  <p><%= @game.description %></p>
</section>
